/* Elemento de tag <body> */

body{

    background: -webkit-linear-gradient(bottom, #fff, rgb(116, 234, 255));

    font-family: 'Dosis', sans-serif;

    font-size: 1em;

    color: #0e18a8;

    margin-left: 36%;

    margin-top: 2%;

    justify-content: left;

    min-height: 100vh;

}