<html>
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styloTelaDadosPessoais.css">
    <title>DadosPessoais</title>
</head>

<body>
            <div class="textos">
            <form>
                   <input type="nomecomp" name="nomeCompleto" placeholder="Digite seu Nome Completo" autofocus>
                   <input type="apelido" name="apelido" placeholder="Apelido/Nome social" autofocus>
                   <input type="cartaoSUS" name="cartaoSUS" placeholder="N° cartao SUS" autofocus>
                   <input type="rg" name="rg" placeholder="RG" autofocus>
                   <input type="cpf" name="cpf" placeholder="CPF" autofocus>
                   <input type="nomedamae" name="nomedamae" placeholder="Nome Completo Da Mae" autofocus>
                   <input type="apelidomae" name="apelidomae" placeholder="Apelido/Nome social" autofocus>
                   <input type="text" name="Mumu" placeholder="Municipio de nascimento/UF">
                </form>
            </div>

            <form>
            <div class="checkbox/date">
                    <a>Sexo</a>

                    <input type="checkbox" name="masculino" id="masc" placeholder="Masculino">Masculino
                    <input type="checkbox" name="feminino" id="fem" placeholder="Feminino">Feminino
                    <input type="date" name="data" placeholder="00/00/00" autofocus>
                
                    <a2>Nacionalidade</a2>
                    <input type="checkbox" name="brasileira" id="bras" placeholder="Brasileira">Brasileira
                    <input type="checkbox" name="naturalizada" id="nat" placeholder="Naturalizada">Naturalizada
                    <input type="checkbox" name="estrangeira" id="est" placeholder="Estrangeira">Estrangeira
            </form>
            </div>
         


        </section>
    </body>
    
    </html>
</body>