<!Doctype html>
<html lang="pt-BR">
    <link rel="stylesheet" href="../css/stylePosLogin.css">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <form action="/" method="POST"></form>
            <h2>Bem Vindo(a)!</h2>
            <h4>Agenda</h4>
            <a href="agenda.html"><button>agenda</button></a>
            <h4>Ajuda/Dúvidas</h4>
            <a href="ajuda.html"><button>aujda</button></a>
            <h4>Altura do Idoso</h4>
            <a href="altura.html"><button>altura</button></a>
            <h4>Diabetes do Idoso</h4>
            <a href="controleDiabetes.html"><button>diabetes</button></a>
            <h4>Dieta do Idoso</h4>          
            <a href="dieta.html"><button>dieta</button></a>
            <h4>Peso do Idoso</h4>
            <a href="controlePeso.html"><button>peso</button></a>
            <h4>Pressao do Idoso</h4>
            <a href="pressao.html"><button>pressao</button></a>
