<html>
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styloTelaCadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <section class="area-Cadastro">
        <div class="Cadastro">

            <div>
                <img src="../imagens/logo.png">
        </div>

            <a1 id="titulo">CADASTRO</a1>
            
            
            <h2 id="checkbox">Escolha o tipo de conta</h2>
                <div id="checkbox" class="custom radio">
                 <input type="radio" name="cuidador/idoso" id="cuid" checked>CUIDADOR
                 <input type="radio" name="cuidador/idoso" id="Idos">IDOSO
                </div>

          <form>
                <input type="nome" name="nomeidoso" placeholder="Digite seu Nome" required>
                <input type="sobrenome" name="sobrenome" placeholder="Digite seu Sobrenome" required>
                <input type="user" name="user" placeholder="Digite seu Nome de Usuario" required>
                <input type="number" name="cpf" placeholder="Digite seu CPF" required>
                <input type="number" name="rg" placeholder="Digite seu RG" required>
                <input type="email" name="email" placeholder="Digite seu E-mail" required>  
                <input type="telefone" name="telefone" placeholder="Digite seu Telefone | Ex:(+55 11 99999-9999)" required>
                <input type="password" name="senha" placeholder="Digite sua Senha" required> 
                <input type="password" name="senha" placeholder="Digite Novamente sua Senha" required> 

               <div class="campo">
                    <label><strong>Qual seu sexo?</strong></label>
                    <label>
                    <input type="radio" name="sexo" value="masculino">Masculino
                    </label>
                    <label>
                    <input type="radio" name="sexo" value="feminino">Feminino
                    </label>
                    <label>
                    <input type="radio" name="sexo" value="outros" checked>Outros
                    </label>
                </div>
                <button class="botao" type="submit" onsubmit="">Cadastrar</button>   
          </form>

    </section>
</body>

</html>